body {  
    font-family: Arial, sans-serif, Lora;  
    margin: 0;  
    padding: 0;  
}  

.main {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    padding: 20px;  
}  

.title__text {  
    font-weight: 400;  
    font-size: 40px;  
    line-height: 54px;  
    color: #2C2A29;  
    font-family: Lora;  
}  

.section {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;  
    margin: 20px 0;  
}  

.card {   
    border-radius: 16px;  
    margin: 10px;  
    width: calc(50% - 20px);  
    box-sizing: border-box;  
    display: flex;  
    flex-direction: column;   
}  

.card__image {  
    width: 100%;  
    border-radius: 16px;  
    object-fit: cover;   
    height: 100%;
}  

.content__text, .supper__text__lorem, .supper__text__proident {  
    font-size: 16px;  
    line-height: 22px;  
    color: #2C2A29;  
    font-family: Lato;  
    font-weight: 400;  
    max-width: 810px;  
    margin-bottom: 20px;  
}  

.supper__text__lorem {  
    text-indent: 20px;  
}  

.container {  
    background-color: #f9f3e3;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    padding: 20px;  
}  

.title {  
    font-size: 64px;   
    margin-bottom: 10px;  
    font-weight: 400;  
    line-height: 74px;  
    color: #1F1F1F;  
    font-family: Lora;  
}  

.subtitle {  
    font-size: 20px;  
    margin: 20px 0 10px;  
    color: #1F1F1F;  
    font-weight: 400;  
    font-family: Lora;  
    line-height: 30px;  
}  

.text {  
    font-size: 14px;  
    line-height: 22px;   
    color: #1F1F1F;  
    font-weight: 400;  
    font-family: Lora;  
}  
.conten__text {  
    display: flex;  
    flex-direction: column;  
    justify-content: flex-end;  
    height: 100%;   
    padding: 20px;  
    box-sizing: border-box; 
}
@media (max-width: 768px) {  
    .card {  
        width: 100%;   
    }  
}  

@media (min-width: 769px) {  
    .card {  
        width: calc(50% - 20px);   
    }  
}